# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage

# Next.js Build
/.next/
/out/
/dist/

# TypeScript Cache
*.tsbuildinfo
next-env.d.ts

# Production / Secrets / Local Env Files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Scratch
scratch/
*.mjs
